*{
    box-sizing: border-box;
    padding: 7px;
}
form{
    width: 50%;
    padding: 20px;
    border: 1px solid red;
}
ul{
    padding: 0%;
}
li{
    list-style: none;
}
#firstname{
    width: 50%;
}
#lastname{
    width: 49%;

}
#email{
    width: 100%;
}
#List{
    width: 100%;
}
#messagebox{
    width: 100%;
}