html body{
    margin: 0%;
}
.sky, .grass, .road{
    position: relative;
}
.sky{
    width: 100%;
    background: aqua;
    min-height: 40vh;
    overflow: hidden;
}
.grass{
    width: 100%;
    min-height: 35vh;
    background: rgb(16, 177, 56);    
}
.road{
    width: 100%;
    min-height: 25vh;
    background: rgb(117, 117, 117);    
}
.lines{
    border: 5px dashed whitesmoke;
    position: absolute;
    height: 0;
    top: 88%;
    width: 99%;
}
.circle{
    background: pink;
    width: 70px;
    border-radius: 50px;
    height: 70px;
    position: absolute;
    bottom: 90px;
    animation: circleM 5s linear infinite,
                jump 1s 1.2s ease ;
    /* animation-fill-mode: both; */
}

@keyframes circleM{
    from{ transform: translateX(-200px) }
    to{ transform: translateX( 1290px)}
}
/* instead of writing transform and translate you can write-
from {left : -200px}
to {left: 1290px} */
@keyframes jump{
    0%{bottom : 90px}
    50% {bottom: 150px}
    100%{bottom : 90px}

}

.circle1{
    background: rgb(192, 246, 255);
    width: 60px;
    /* border-radius: 50px; */
    height: 60px;
    position: absolute;
    top: 90%;
    animation: circleM 8s linear infinite;
}

.cloud{
    width: 300px;
    height: 200px;
    background: white;
    position: absolute;
    top: 10%;
    left: 100px;
    border-radius: 80px;
    animation: cloud 15s linear infinite ;
}
.cloud1{
    width: 200px;
    height: 100px;
    background: white;
    position: absolute;
    top: 5%;
    left: 10px;
    border-radius: 70px;
    opacity: 0.8;
    animation: cloud 15s ease-out infinite alternate-reverse;
}
.cloud2{
    width: 150px;
    height: 200px;
    background: white;
    position: absolute;
    top: 3%;
    left: 280px;
    border-radius: 80px;
    opacity: 0.5; 
    animation: cloud 30s ease-in-out infinite reverse;
    animation-fill-mode: both;
}
@keyframes cloud{
    from{ left: -10px}
    to{ left: 1290px}
}
